[submodule "Libraries/SDL"]
	path = Libraries/SDL
	url = https://github.com/apollovy/SDL.git
[submodule "Libraries/SDL_image"]
	path = Libraries/SDL_image
	url = https://github.com/apollovy/SDL_image.git
[submodule "Libraries/SDL_ttf"]
	path = Libraries/SDL_ttf
	url = https://github.com/apollovy/SDL_ttf.git
[submodule "Libraries/SDL_mixer"]
	path = Libraries/SDL_mixer
	url = https://github.com/apollovy/SDL_mixer.git
[submodule "Libraries/Cataclysm-DDA"]
	path = Libraries/Cataclysm-DDA
	url = https://github.com/CleverRaven/Cataclysm-DDA.git
[submodule "Libraries/JSController"]
	path = Libraries/JSController
	url = https://github.com/jasarien/JSController.git
[submodule "Common"]
	path = Common
	url = https://github.com/apollovy/Cataclysm-DDA-iOS-commons.git
